body{
    font-family: 'Arial, sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
}

.container{
    width: 300px;
    text-align: center;
}

input[type="number"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

input[type="button"]{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
input[type="button"]:hover{
    background-color: #58a9ff;
}